.product__page .card {
  background-color: #b3d0e7;
}

.product__page .card__title {
  padding: 2em 0;
  color: #3968a0;
}

.product__page .card__img img {
  width: 50%;
}

.product__page .card__text {
  color: #3968a0;
}

