@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Teko&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
}

body {
}

.container {
    width: 100%;
}
.container-90 {
    width: 90%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}
